body {
    margin:0;
    background: darkgrey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carCanvas {
    background: lightgrey;
}

#networkCanvas {
    background: black;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}